body{
    background-color:black;
}
.d1{
    margin: auto;
    background-color:white;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
}
.d2{
display: flex;
flex-direction: row;
width: 343px;
height: 18px;
margin-left: 16px;
justify-content: space-between;
padding-top: 16px;
}
.d2 p{
    width: 35.06px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d2 ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
height: 60px;
margin-top: 8px;
margin-bottom: 12px;
display: flex;
flex-direction: row;

}
.d3 h3{
    width: 95px;
height: 28px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
margin: 16px 76px 16px 0px;

}
.d4{
    width: 163.5px;
    height: 76px;
   border-radius: 15px;
    margin: 0px 16px 16px 16px;
    box-shadow: 0px 0px 12px -2px #3d576f;
}

#i1{
    width: 24px;
    height: 24px;
    margin: 18px 73px 18px 24px;
}
#i2{
    width: 18px;
height: 20px;
margin: 20px 27px 20px 0px;
}
#i3{
    display: flex;
    flex-direction: row;
}
#i4{
    width: 35px;
height: 55px;
border-radius: 10px;
opacity: 0.2px;
background-color:lightgreen;
margin: 11px 12px 10px 12px;
}
#i4 img{
    width: 24px;
    height: 24px;
    margin: 16px 5.5px 15px 5.5px;
}
#p1{
 width: 49px;
 height: 20px;
 margin: 15px 55.5px 0px 0px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}
#p2{
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 67px;
height: 28px;
margin: 0px 37.5px 14px 0px;
}
#i5{
    width: 375px;
    height: 8px;
    margin-top: 0px;
    background-color: #EEF0F3;
}
.d5{
    width: 375px;
height: 252px;


}
#i6{
    width: 116px;
height: 28px;
border-radius: 7px;
border: 1px;
margin: 16px 8px 0px 51px;
}
#i7{
    width: 73px;
    height: 28px;
    border: 1px;
    border-radius: 7px;
    margin: 16px 8px 0px 0px;
}
#i8{
    width: 71px;
height: 28px;
border-radius: 7px;
border: 1px;
margin: 16px 48px 0px 0px;
}
#o1{

font-family: DM Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: right;

}
#o2{
   
    display: flex;
    flex-direction: column;
}
#o1 #p4{
    margin: 20px 12px 19px 23px;
    width: 24px;
  height: 16px;
}
#o1 #p5{
    margin: 0px 12px 19px 23px;
    width: 24px;
    height: 16px;
}
#o1 #p6{
    margin: 0px 12px 4px 23px;
    width: 24px;
    height: 16px;
}
#i9{
    margin: 28px 16px 0px 0px;
    width: 300px;
    height: 0.5px;
    background-color: #e8e7e7;
}
#p7{
    margin: 35px 16px 0px 0px;
    width: 300px;
    height: 0.5px;
    background-color: #e8e7e7;
}
#p8{
    margin: 35px 16px 12px 0px;
    width: 300px;
    height: 0.5px;
    background-color: #e8e7e7;
}
#i12{
    width: 32px;
height: 40px;
margin: 102px 12px 0px 62px;
background-color: green;
}
#i13{
    width: 32px;
    height: 39px;
    margin: 142px 12px 0px 0px;
    background-color: red;
}
#i14{
    width: 32px;
    height: 70px;
    margin: 72px 12px 0px 0px;
    background-color: green;
}
#i15{
    margin: 142px 12px 0px 0px;
    width: 32px;
    height: 27px;
    background-color: red;
}
#i16{
    width: 32px;
    height: 57px;
    margin: 142px 12px 0px 0px;
    background-color: red;
}
#i17{
    width: 32px;
    height: 46px;
    margin: 96px 12px 0px 0px ;
    background-color: green;
}
#i18{
    width: 32px;
    height: 20px;
    margin: 142px 17px 0px 0px;
    background-color: red;
}
#i10{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: overflow;
}
#i19{
width: 37px;
height: 16px;
margin: 0px 219px 10px 62px;
font-family: DM Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: left;

}
#i20{
width: 37px;
height: 16px;
margin: 0px 20px 10px 0px;
font-family: DM Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: left;
}
.d6{
    width: 375px;
    height:252px ;
    background-color: lightseagreen;
}
#i30{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 34px;
}
#i31{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
a:hover{
    color: red;
   
    
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
#j1{
    width: 375px;
    height: 70px;
    box-shadow: 0px 0px 20px 0px #25525B1A;
    
}
a{
    text-decoration: none;
}
#i32{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
#i33{
    margin: 20px 34px 0px 0px;
    width: 24px;
    height: 24px;
}
#i34{
    width: 134px;
    height: 5px;
    margin: 13px 120px 8px 121px;
}
.cheap{
    width: 375px;
    height: 268px;

}
#p9{
    width: 80px;
height: 5px;
margin: 8px 147px 11px 148px;
}
#p10{
width: 129px;
height: 28px;
margin: 0px 230px 0px 16px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}

#a0{
    display: flex;
    flex-direction: row;
}
#last{
    width: 129px;
height: 28px;
    margin: 0px 230px 0px 16px;
}

#a3{
    width: 48px;
height: 48px;
border-radius: 18px;
background-color: #fabe3c;
margin: 13px 12px 10px 24px;
}
#a4{
    width: 24px;
height: 24px;
margin: 12px;
}
#s1{
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
#a5{
    width: 81px;
height: 24px;
margin: 12px 116px 4px 0px;
}
#a6{
    width: 42px;
    margin: 0px 169px 8px 0px;
height: 20px;
color: red;
}
#s2{
  
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
#a7{
    width: 70px;
height: 20px;
margin: 15px 24px 4px 0px;
color: green;
}
#a8{
    width: 56px;
height: 20px;
margin:0px 24px 12px 0px ;
}
.d60{
    width:327px ;
    border: 1px;
    margin:0px 24px 0px 24px ;
    background-color: #E8E7E7;
    height: 2px;
}
