body{
    background-color:black;
}
.d1{
    margin: auto;
    background-color:white;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
}
.d2{
display: flex;
flex-direction: row;
width: 343px;
height: 18px;
margin-left: 16px;
justify-content: space-between;
padding-top: 16px;
}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
.d2 p{
    width: 35.06px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d2 ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
height: 60px;
margin-top: 8px;
margin-bottom: 12px;
display: flex;
flex-direction: row;

}
.d3 h3{
    width: 201px;
height: 28px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
margin: 16px 86px 16px 0px;

}
.d3 img{
    width: 24px;
height: 24px;
margin: 18px 40px 18px 24px;

}
.d4{
    width: 375px;
    height: 8px;
    background-color:#EEF0F3;
}
.d5{
    width: 375px;
    height: 368px;

font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
#i0{
    display: flex;
    flex-direction: row;
}
#i1{
    width: 89px;
    height: 20px;
    margin: 0px 262px 8px 24px;
    padding-top: 16px;
}
#i2{
    width: 327px;
height: 48px;
border-radius: 10px;
background-color:#665AF01A ;
border-color: blue;
margin: 0px 24px 0px 24px;

}
#i3{
    width: 20px;
height: 20px;
margin: 14px 40px 0px 315px;
position: absolute;
}
#p1{
width: 128px;
height: 16px;
margin: 28px 199px 24px 8px;
font-family: DM Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: left;
}
#p0{
    width: 16px;
height: 16px;
border-radius: 5px;
border: 1px;
margin: 28px 0px 24px 24px;
background-color: #EEF0F3;

}
.d6{
    width: 375px;
    height: 252px;
    background-color: #EEF0F3;
}
.d6 input{
    width: 327px;
height: 50px;
border-radius: 15px;
margin: 40px 24px 162px 24px;
background-color: blue;

}
#i7{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 34px;
}
#i8{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
#i9{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
#i10{
    margin: 20px 34px 0px 0px;
    width: 24px;
    height: 24px;
}
#i11{
    width: 134px;
    height: 5px;
    margin: 13px 120px 8px 121px;
}