body{
    background-color:black;
}
.d1{
    margin: auto;
    background-color: white;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
}
.d2{
display: flex;
flex-direction: row;
width: 343px;
height: 18px;
margin-left: 16px;
padding-top: 16px;
justify-content: space-between;
}
.d2 p{
    width: 35.06px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d2 ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
height: 60px;
margin-top: 8px;
margin-bottom: 12px;
display: flex;
flex-direction: row;

}
.d3 h3{
    width: 95px;
height: 28px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
margin: 16px 140px 16px 0px;

}
.d3 img{
    width: 24px;
height: 24px;
margin: 18px 92px 18px 24px;
}
.d4{
    width: 375px;
height: 135px;

}
#i1{
    width: 111px;
height: 111px;
margin: 0px 132px 24px 132px;
background-color: #c4c4c4;
border-radius: 100px;
}
.d5{
    width: 375px;
    height: 8px;
    background-color: #EEF0F3;
}
.d6{
    width: 375px;

height: 76px;
}
#i3{
    width: 62px;
height: 20px;
margin: 0px 289px 8px 24px;
padding-top: 12px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}
#i4{

font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
width: 118px;
height: 24px;
margin: 0px 233px 0px 24px;

}
#i2{
    width: 327px;
    height: 1px;
    background-color: blue;
    margin: 0px 24px 12px 24px;
}
#i5{
    width: 327px;
height: 50px;
border-radius: 15px;
margin: 40px 24px 151px 24px;
background-color: blue;
}
.d7{
    background-color: #EEF0F3;
}

#i12{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 34px;
}
 #i13{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
 #i14{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 0px;
}
 #i15{
    width: 24px;
    height: 24px;
    margin: 20px 35px 0px 0px;
}
#i16{
    background-color: #DDDDDD;
    width:134px;
    height:5px;
    margin:13px 120px 8px 121px;
}
.f{
    display: flex;
    flex-direction: row;
}
.d0{
    width: 375px;
    height: 70px;

}.d8{
    width: 375px;
    height: 70px;
}
#i7{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 34px;
}
#i8{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
#i9{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
#i10{
    margin: 20px 34px 0px 0px;
    width: 24px;
    height: 24px;
}
#i11{
    width: 134px;
    height: 5px;
    margin: 13px 120px 8px 121px;
}
    a:hover{
        color: red;
    }
    a:link{
     color: blue;
    }
    a{
        text-decoration: none;
    }