body{
    background-color:black;
}
.d1{
    margin: auto;
    background-color:white;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
}
.d2{
display: flex;
flex-direction: row;
width: 343px;
height: 18px;
margin-left: 16px;
justify-content: space-between;
padding-top: 16px;
}
.d2 p{
    width: 35.06px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d2 ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
height: 60px;
margin-top: 8px;
margin-bottom: 12px;
display: flex;
flex-direction: row;

}
.d3 h3{
    width: 95px;
height: 28px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
margin: 16px 76px 16px 0px;

}
.d4{
    width: 375px;
    height: 8px;
    background-color:#EEF0F3;
}
#i1{
    width: 24px;
    height: 24px;
    margin: 18px 73px 18px 24px;
}
#i2{
    width: 18px;
height: 20px;
margin: 20px 27px 20px 0px;
}
.d5{
    width: 375px;
    height: 58px;

}
.d5 img{
    width: 24px;
    height: 24px;
    margin: 17px 16px 17px 24px;
}
#i0{
    display: flex;
    flex-direction: row;
}
.d5 p{
width: 118px;
height: 24px;
margin: 17px 193px 17px 0px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}

#i7{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 34px;
}
#i8{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
#i9{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
#i10{
    margin: 20px 34px 0px 0px;
    width: 24px;
    height: 24px;
}
#i11{
    width: 134px;
    height: 5px;
    margin: 13px 120px 8px 121px;
}
.d8{
    width: 375px;
    height: 70px;
    box-shadow: 0px 0px 20px 0px #25525b;
    border-radius: 0px 0px 30px 30px;
}
.d6{
    width: 375px;
    height: 554px;
   
}
#i12{
    width: 57px;
    margin: 24px 24px 0px 245px;
    height: 24px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}
.d9{
    width: 25px;
    height: 25px;
    margin: 24px 0px 0px 24px;
    background-color: blue;
   border-radius: 5px;
}
.d9 p{
    margin: 2px 7px 3px 8px;
    width: 10px;
    height: 20px;
    color: white;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
#i13{
    width: 22px;
height: 22px;
border-radius: 5px;
border: 1.5px;
border-color: #665AF0;
margin: 29px 16px 23px 24px;

}
#i14{
    width: 44px;
height: 44px;
border: 1px;
border-radius: 100px;
margin: 17px 12px 13px 0px;
border-color: blue;
}
#i15{
  width: 87px;
  height: 24px;
  margin: 16px 170px 2px 0px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
#i16{
  width: 96px;
  height: 20px;
  margin: 0px 161px 12px 0px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.d10{
    width: 327px;
    height: 1px;
    margin: 0px 24px 0px 24px;
    background-color: #e8e7e7;
}