body{
    background-color:black;
}
.d1{
    margin:auto;
    background-color:white;
    width: 375px;
    height: 812px;
   top: -1934px;
    border-radius: 30px;
  
}
.d3{
    display: flex;
    flex-direction: row;
    width: 343px;
    height: 18px;
    margin-top: 16px;
    margin-left: 16px;
    justify-content: space-between;
}
li{
    list-style: none;
    display: inline-block;
}
.d2{
    
    width: 375px;
    height: 170px;
border-radius: 30px 30px 15px 15px;
background-color: #665AF0;
}
.m1{
    width: 375px;
    height: 230px;
    background-color: #FEBC11;
}
.d4{
    display: flex;
    flex-direction: row;
}
.d4 h3{
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 68px;
height: 28px;
margin: 31.7px 0px 0px 154px;
}
.d4 img{
    margin: 32.75px 31px 0px 104px;
    width: 18px;
    height: 20px;
    color: white;
}
#i1{
    width: 120px;
    height: 28px;
    margin: 4px 127px 0px 128px;
    /*styleName: Heading 03;*/
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #FEBC11;
}
.d5{
    width: 343px;
    height: 74px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #FFFFFF;
    /*background-color:#FFFFFF;*/
    box-shadow: 10px 10px 12px -2px #3D576F1A;
    border-radius: 15px;
}
#i2{
    width: 24px;
    height: 24.00001px;
    margin-top: 14px;
    margin-left: 32px;
    margin-bottom: 4px;
    margin-right: 61px;
}
#i3{
    width: 24px;
    height: 21px;
    margin: 15.5px 62px 5.5px 0px;
}
#i4{
    width: 24px;
    height: 20px;
    margin: 16px 62.5px 6px 0px;
}
#i5{
    width:21px;
    height: 21px;
    margin-top: 15.5px;
    margin-bottom:5.5px;
    margin-left: 0px;
}
.d6{
    display: flex;
    flex-direction: row;
    color: #232440;
}
.d6 #p1{
font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
margin: 0px 42px 12px 21px;
}
.d6 #p2{
font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
width: 42px;
height: 20px;
margin: 0px 37px 12px 0px;
}
.d6 #p3{
font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
width: 56px;
height: 20px;
margin: 0px 35px 12px 0px;
}
.d6 #p4{
font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
width: 44px;
height: 20px;
margin-bottom: 12px;
margin-top: 0px;
}
#h4{
    width: 96px;
    height: 28px;
    margin-top: 48px;
    margin-right: 263px;
    margin-bottom: 0px;
    margin-left: 16px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

}
.d8{
    display: flex;
    flex-direction: row;
    margin-top:12px ;
}
.d7{
    border-radius: 100px;
    border:1px solid black;
    background-clip:content-box;
    padding: 2px;
    width: 56px;
    height: 50px;
    background-color: #DDDDDD;
    margin-left: 16px;
}
#d71{
    margin-left: 16px;
}#d81{
    margin-left: 27px;
}#d91{
    margin-left: 30.5px;
}#d101{
    margin-left: 19.5px;
}
.d9{
    display: flex;
    flex-direction: row;
    font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
}
.d9 #p1{
    width: 32px;
    height: 20px;
text-align: center;
margin-left: 28px;
margin-top: 8px;
margin-bottom: 16px;
}
.d9 #p2{
    width: 78px;
    height: 20px;
    text-align: center;
    margin-left: 28px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.d9 #p3{
    width: 63px;
    height: 20px;
    text-align: center;
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
.d9 #p4{
    width: 55px;
    height: 20px;
    text-align: center;
    margin-left: 16.5px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.d9 #p5{
    text-align: center;
    margin-top: 8px;
    margin-left: 27.5px;
    margin-bottom: 16px;
}
.d10{
    width: 375px;
    height: 8px;
    background-color: #DDDDDD;
    margin-top: 0px;
}
#h5{
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
margin: 12px 248px 0px 16px;
width: 111px;
height: 28px;
}
.d11{
    width: 36px;
    height: 36px;
    padding: 10px;
    margin-top: 12px;
    border-radius: 20px;
    background-color: rgb(239, 239, 63);
}
.d11 #i6{
    width: 28px;
    height: 28px;
    margin:7px 7px 7px 7px;
}
.d12{
    display: flex;
    flex-direction: row;
}
#p6{
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
width: 66px;
height: 20px;
margin:8px 35px 16px 16px;
}
#p7{
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
width: 51px;
height: 20px;
margin:8px 34px 16px 0px;
}
#p8{
    width:68px;
    height:20px;
    margin: 8px 35px 16px 0px;
    font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
#p9{
    width: 51px;
    height: 20px;
    margin: 8px 19px 16px 0px;
    font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.d13{
    display: flex;
    flex-direction: row;
}
.d14{
    display: flex;
    flex-direction: row;
}
.d15{
    display: flex;
    flex-direction: row;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
#p10{
  width: 45px;
  height: 20px;
  margin: 8px 35px 16px 27px;  
}
#p11{
    width: 71px;
    height: 20px;
    margin: 8px 27px 16px 0px;
}
#p12{
    width: 63px;
    height: 20px;
    margin: 8px 33px 16px 0px;
}
#p13{
    width: 57px;
    height: 20px;
    margin: 8px 7px 16px 0px;
}
#i7{
    width: 80px;
    height: 5px;
    margin-top: 8px;
    margin-left: 148px;
    margin-bottom: 0px;
    margin-right: 147px;
    background-color: #DDDDDD;
}
.h6{
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 129px;
height: 28px;
margin: 11px 230px 0px 16px;

}
.d16{
    display: flex;
    flex-direction: row;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
width:375px ;
}
.d16 #p14{
width: 81px;
height: 24px;
margin: 12px 154px 4px 12px;
}
.d16 #p15{    
    margin: 13px 16px 4px 0px;
}
.d17{
    display: flex;
    flex-direction: column;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.d17 #p16{
    width: 30px;
    height: 20px;
    margin: 4px 140px 0px 12px;
}
.d17 #p17{
    width: 113px;
    height: 20px;
    margin: 0px 16px 0px 0px;
}
.d18{
    width: 375px;
    height: 70px;
    margin-top: 54px;
    box-shadow:0px 0px 20px 0px #25525B;
    border-end-end-radius: 35px;
    border-end-start-radius: 35px;
    background-color: white;
}
.d18 #i8{
    width: 24px;
    height:24px;
    margin: 14px 71px 0px 34px;
}
.d18 #i9{
    width: 24px;
    height: 24px;
    margin: 14px 70px 0px 0px;
}
.d18 #i10{
    width: 24px;
    height: 24px;
    margin: 14px 70px 0px 0px;
}
.d18 #i11{
    width: 24px;
    height: 24px;
    margin-top: 14px ;
    margin-left: 0px;
    margin-bottom: 0px;
}
.d18 #i12{
    width: 134px;
    height: 5px;
    margin-top: 9px;
    margin-right: 120px;
    margin-left: 121px;
}
.ex{
    display: flex;
}
.head1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: overflow;
}