body{
    background-color:black;
}
.d1{
    margin: auto;
    background-color:#DDDDDD;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
}
.d2{
display: flex;
flex-direction: row;
width: 343px;
height: 18px;
margin-left: 16px;
justify-content: space-between;
padding-top: 16px;
}
.d2 p{
    width: 35.06px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d2 ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
}
.d3{
display: flex;
flex-direction: row;

}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
#i1{
    width: 24px;
height: 24px;
margin: 26px 275px 108px 24px;

}
.d4{
    width: 375px;
    height: 8px;
    background-color:#EEF0F3;
}
#i2{
    width: 28px;
height: 28px;
padding: 2px;
margin: 26px 24px 102px 0px;
}
#i3{
    width: 251px;
height: 251px;
margin: 0px 62px 0px 62px;
}
#i4{
    width: 24px;
    height: 24px;
    margin:53px 0px 0px 80px ;
    position:absolute;
}
#i5{
width: 255px;
height: 50px;
margin: 40px 60px 0px 60px;
background-color: white;
border-radius: 15px;
}
#p0{
    width: 28px;
    height: 28px;
    margin: 72px 0px 2px 77px;
}
#p2{
    width: 63px;
    height: 24px;
    margin: 0px 0px 153px 60px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: blue;

}
#p1{
    width: 28px;
    height: 28px;
    margin: 72px 88px 2px 154px ;
}
#p3{

    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 49px;
    height: 24px;
    margin: 0px 77px 153px 126px;
  
}
.d0{
    display: flex;
    flex-direction: column;
}

