body{
    background-color:black;
}
.d1{
    background-color:white;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
    margin: auto;
}
.d2{
    display: flex;
    flex-direction: row;
    width: 343px;
    height: 18px;
    margin-top: 16px;
    margin-left: 16px;
    justify-content: space-between;
}
li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
    height:75px;
    margin-top: 18px;

    display: flex;
    flex-direction: row;
}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
.d3 img{
    width: 24px;
    height: 24px;
    margin: 25px 0px 29px 24px;
}
.d3 h3{
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
width: 92px;
height: 28px;
margin: 25px 141px 25px 94px;
}
.d4
{
    width:327px;
    height:582px;
    margin:12px 24px 0px;
   
}
img{
    margin-top: 91px;
     margin-left: 120px ;
     margin-right:121px;
}
#p2{
    width: 321px;
    height:48px;
    border-radius:10px;
    margin-top: 8px;
    border: 2px solid #665AF0;
    background-color: #665AF01A;
    margin-bottom: 28px;
}
#p1{
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color:#6E6E82;
width:41px;
height:20px;
margin-top: 0px;
margin-bottom: 0px;
}
#p4{
    width: 321px;
    height:48px;
    border-radius:10px;
    margin-top: 8px;
    border: 2px solid #665AF0;
    background-color: #665AF01A;
}
#p3{
    margin:24px 16px 0px 3px;
    width: 287px;
    height:40px;
font-family: DM Sans;
font-size: 13px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
}
.d5{
    display: flex;
    flex-direction: row;

}
.d5 input{
    margin-top:27px;
    width:16px;
    height:16px;
    border: 1px;
    border-radius: 5px;
    background-color:#665AF01A;   
}
#p5{
    width: 217px;
height: 24px;
margin: 16px 55px 0px 55px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:#232440;
}
span{
    color:#665AF0;
}
#p6{
    width: 327px;
height: 50px;
margin-top: 22px;
border-radius: 15px
}