body{
    background-color:black;
}
.d1{
    background-color:white;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
    margin: auto;
}
.d2{
display: flex;
flex-direction: row;
width: 343px;
height: 18px;
margin-left: 16px;
justify-content: space-between;
padding-top: 16px;
}
.d2 p{
    width: 35.06px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d2 ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
height: 60px;
margin-top: 8px;
margin-bottom: 12px;
display: flex;
flex-direction: row;
}
#i1{
    width: 24px;
height: 24px;
margin: 18px 67px 18px 24px;

}
#i2{
    width: 145px;
    height: 28px;
    margin: 16px 115px 16px 0px;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}
.d4{
    width: 375px;
    height: 8px;
    background-color:#EEF0F3;
}
.d5{
    width: 375px;
    height: 466px;

}
.d6{
    display: flex;
    flex-direction: row;
}
.d5 h4{
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 105px;
height: 28px;
margin: 0px 246px 16px 24px;
padding-top: 13px;
}
#i3{
    width: 234px;
    height: 36px;
    border-radius: 15px;
    border: 1px;
    margin:0px 16px 20px 24px ;
    background-color: #E5E5E5;

font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
#i4{
    width: 77px;
    height: 36px;
    margin: 0px 24px 20px 0px;
    background-color: blue;
    border-radius: 15px;
}
.d7{
    width: 327px;
    height: 1px;
    background-color: #e8e7e7;
    margin: 0px 20px 0px 28px;
}
#i5{
    width: 44px;
height: 44px;
border: 1px;
margin: 13px 12px 13px 24px;
}
#i6{
width: 80px;
height: 24px;
margin: 12px 149px 2px 0px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
#i7{
width: 96px;
height: 20px;
margin: 0px 133px 12px 0px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
#i8{
width: 42px;
height: 20px;
margin: 25px 24px 25px 0px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: red;
}
#i9{
    width: 24px;
height: 24px;
margin: 22px 12px 22px 24px;
}
#i10{
width: 147px;
height: 24px;
margin: 22px 52px 22px 0px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
#i11{
    width: 92px;
height: 36px;
border-radius: 15px;
border: 1px;
margin: 16px 24px 15px 0px;
font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
background-color: #E5E5E5;

}
.d8{
    width: 375px;
    height: 154px;
    background-color: #EEF0F3;
}
.d9{
    width:375px;
    height: 70px;
}



#i12{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 34px;
}
#i13{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
#i14{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
#i15{
    margin: 20px 34px 0px 0px;
    width: 24px;
    height: 24px;
}
#i16{
    width: 134px;
    height: 5px;
    margin: 13px 120px 8px 121px;
}