body{
    background-color:black;
}
.d1{
    background-color:white;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
    margin: auto;
}
.d2{
    display: flex;
    flex-direction: row;
    width: 343px;
    height: 18px;
    margin-top: 16px;
    margin-left: 16px;
    justify-content: space-between;
}
li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
    height:78px;
    margin-top: 18px;
}
.d3 img{
    width:24px;
    height:24px;
    margin:25px 327px 29px 24px;
}
#i1{
    width: 257.98px;
height: 259.5px;
margin-left: 29.02px;
margin-bottom: 107.5;
padding: 0px 0px 15.76px 0px;
}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
.d4{
    width: 287px;
    height: 367px;
    margin-top: 10px;
    margin-left: 44px;
}
.d5{
    width: 242px;
    height: 57px;
    margin-top: 37px;
    margin-left: 67px;}
.d5 h3{
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 242px;
height: 28px;
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
}
.d5 p{
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
width: 148px;
height:20px;
margin-top: 9px;
margin-left: 47px;
color: #6E6E82;
}
input{
    width: 327px;
    height: 50px;
    margin-top: 60px;
    margin-left: 24px;
    border-radius: 15px;
    background-color: #3dab25;
}
.d6{
    width: 375px;
    height: 34px;
    margin-top: 83px;
}
.d6 img{
    width: 134px;
    height: 5px;
    margin-top: 21px;
    margin-right: 120px;
    margin-left: 121px;
}