body{
    background-color:black;
}
.d1{
    background-color: white;
    width: 375px;
    height: 796px;
    top: -1934px;
    border-radius: 30px;
    padding-top: 16px;
    margin: auto;
}
.d2{
display: flex;
flex-direction: row;
width: 343px;
height: 18px;
margin-left: 16px;
justify-content: space-between;
}
.d2 p{
    width: 35.06px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d2 ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
height: 60px;
margin-top: 8px;
margin-bottom: 12px;
display: flex;
flex-direction: row;

}
.d3 h3{
    width: 95px;
height: 28px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
margin: 16px 140px 16px 0px;

}
.d3 img{
    width: 24px;
height: 24px;
margin: 18px 92px 18px 24px;

}
.d4{
    width: 375px;
height: 272px;

font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

}
#i{
    width: 129px;
    height: 28px;
margin: 0px 222px 0px 24px;
   padding-top: 12px; 
}
.d{
    width: 375px;
    height: 8px;
    background-color: #EEF0F3;
}
.s{
    width: 159.5px;
    height: 60px;
    background-color:#EEF0F3 ;
    border-radius: 15px;
}
#i1{
    width: 42.5px;
height: 28px;
margin: 16px 58.5px 16px 58.5px;
}
#i2{
    width: 42.5px;
height: 28px;
margin: 16px 54.5px 16px 54px;
}
#i3{
    width: 42.5px;
height: 28px;
margin: 16px 51.5px 16px 52px;
}
#i4{
    width: 42.5px;
height: 28px;
margin: 16px 55px 16px 55.5px;
}
#i5{
    width: 42.5px;
height: 28px;
margin: 16px 55px 16px 55.5px;
}
#i6{
    width: 42.5px;
height: 28px;
margin: 16px 49px 16px 49.5px;
}
.d5{
    display: flex;
    flex-direction: row;
}
.d6{
    width: 375px;
height: 84px;


}
.d6 h4{
    padding-top: 12px;
    margin: 0px 128px 0px 24px;
    width: 223px;
height: 28px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}
#p1{
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
width: 11px;
height: 24px;
margin: 8px 4.24px 0px 32px;
}
#p2{
    width: 1px;
height: 21px;
margin: 10px 326.76px 0px 0px;
}
.d7{
    width: 327px;
height: 1px;
margin:0px 24px 12px 24px;
background-color: #E8E7E7;
}
.d8{
    width: 375px;
height: 80px;

display: flex;
flex-direction: row;
}
#i7{
    width: 56px;
height: 56px;
border-radius: 15px;
margin: 12px 12px 12px 24px;
background-color: #FEBC11;
}
#i7 img{
    width: 32px;
    height: 32px;
    margin: 12px;
}
#i8{
width: 79px;
height: 28px;
margin: 15px 158px 2px 0px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}
#i9{
width: 111px;
height: 20px;
margin: 0px 126px 15px 0px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
#i10{
    width: 20px;
height: 18px;
margin: 33px 26px 29px 0px;
}
.d9{
    display: flex;
    flex-direction: row;
}
#i11{
    width: 50px;
height: 54px;
border-radius: 10px;
margin: 48px 0px 66px 32px;
position: absolute;
background-color: #ffffff;
}
#i11 img{
    width: 23.25px;
height: 23.25px;
margin: 15.37px 13.37px;
}
.d9 input{
    width: 327px;
height: 70px;
margin: 40px 24px 58px 24px;
background-color: #665af0;
border-radius: 15px;
color: white;
}
#i12{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 34px;
}
 #i13{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
 #i14{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 0px;
}
 #i15{
    width: 24px;
    height: 24px;
    margin: 20px 35px 0px 0px;
}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
#i16{
    width: 134px;
height: 5px;
margin: 13px 120px 8px 121px;
}
.d9 a{
    margin-bottom: 0px;
}