body{
    background-color:black;
}
.d1{
    background-color:white;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
    margin: auto;
}
.d2{
    display: flex;
    flex-direction: row;
    width: 343px;
    height: 18px;
    margin-top: 16px;
    margin-left: 16px;
    justify-content: space-between;
}
li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
height: 78px;
margin-top: 18px;
display: flex;
flex-direction: row;
}
a:hover{
    color: red;
}
a{
    text-decoration: none;
}
#i1{
    padding: 25px 0px 29px 24px;
}
#i2{
width: 67px;
height: 28px;
padding: 25px 153px 25px 107px;
margin-top: 0px;
margin-bottom: 0px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
}
#d4{
    margin: 45px 12px 0px 12px;
}
.d5{
width: 260px;
height: 189px;
margin-top: 21.53px;
margin-left: 58px;
border-radius: 12px;
}
.d5 h3{
width: 206px;
height: 28px;
margin-top: 0px;
margin-left: 27px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}
#p1{
width: 210px;
height: 40px;
margin-top: 17px;
margin-bottom: 0px;
margin-left: 24px;
}
.d5 span{
    margin-left: 21px;
}
#p2{
    width:89px ;
    height:26px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:8px 86px 0px 85px;
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
}
#p3{
    width: 327px;
height: 50px;
margin: 80px 24px 0px ;
border-radius: 15px;
background-color: #665AF0;
}
#p4 {
margin-top: 104px;
margin-left: 121px;
margin-right: 120px;
}
#i0{
    display: flex;
    flex-direction: row;
}
#i3{
    width: 50px;
height: 50px;
border-radius: 12px;
border: 2px;
margin: 20px 20px 0px 0px;
background-color: #EEF0F3;
border-color: blue;

}
#i3 h3{
width: 14px;
height: 28px;
margin: 10px 18px 12px 18px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}