body{
    background-color:black;
}
.d1{
    background-color: white;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
    margin: auto;

}
.d2{
display: flex;
flex-direction: row;
width: 343px;
height: 18px;
margin-left: 16px;
padding-top: 16px;
justify-content: space-between;
}
.d2 p{
    width: 35.06px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d2 ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
height: 60px;
margin-top: 8px;

display: flex;
flex-direction: row;
}
.d3 h3{
    width: 95px;
height: 28px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
margin: 16px 140px 16px 0px;

}
.d3 img{
    width: 24px;
height: 24px;
margin: 18px 92px 18px 24px;
}
.d4{
    width: 300px;
    height: 140px;
    margin:12px 16px 16px 16px;
    background-color: #DDDDDD;
    border: 1px;
    border-radius: 10px;
}
.d4 #p1{
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
width: 140px;
height: 26px;
margin: 16px 136px 0px 24px;
}
.d4 h3{
    width: 57px;
    height: 28px;
    color: #3DAB25;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
margin: 0px 219px 0px 24px ;
}
.d4 #p2{
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
width: 59px;
height: 20px;
margin: 0px 217px 12px 24px;
}
.d5 img{
    margin: 0px 6px 16px 24px;
    width: 20px;
    height: 20px;
}
.d4 #p3{
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
width: 76px;
height: 20px;
margin: 0px 174px 16px 0px;
}
.d5{
    display: flex;
    flex-direction: row;
}
#i1{
    visibility: hidden;
    width: 40px;
    visibility: visible;
    margin-left: 0px;
}
.d6{
    margin-top: 0px;
    width: 375px;
    height: 8px;
    background-color: #DDDDDD;
}
.d7{
    width: 375px;
    height: 148px;
    margin-top: 0px;
   

}
.d7 h4{
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 93px;
height: 28px;
margin: 0px 266px 12px 16px;
padding-top: 12px;
}
#i2{
    width: 56px;
    height: 56px;
    border-radius: 100px;
    background-color: #665AF0;
    margin: 0px 16px 8px 16px;
}
#i2 img{
    width: 24px;
    height: 19px;
    margin: 18.5px 16px 18.5px 16px;
}
#i2 p{
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
width: 16px;
height: 16px;
margin-top: 8px;
}
#p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}
#p4{
width: 16px;
height: 16px;
margin: 0px 39.5px 16px 36px;
}
#p5{
    width: 49px;
    height: 16px;
    margin: 0px 19.5px 16px 0px;
}
#p6{
    width: 61px;
    height: 16px;
    margin: 0px 22px 16px 0px;
}
#p7{
    width: 44px;
    height: 16px;
    margin: 0px 25px 16px 0px;
}
#p8{
    width: 50px;
    height: 16px;
    margin: 0px 13px 16px 0px;
}
.d8{
    width: 375px;
    height: 234px;

}
#i3{
    display: flex;
    flex-direction: row;
}
#i3 h4{
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 161px;
height: 28px;
margin: 0px 133px 12px 16px;
padding-top: 12px;
}
#i3 p{
width: 49px;
height: 20px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
margin: 16px 0px 16px 0px;
}
.d9{
    width: 200px;
    height: 102px;
   margin-right: 16px ;
   margin-left: 16px;
    border-radius: 6px, 6px, 0px, 0px;
    background-color: #DDDDDD;
}
.d10{
    width: 200px;
height: 64px;
margin:0px 16px 16px 16px;
border-radius: 0px, 0px, 6px, 6px;

box-shadow: 0px 0px 12px 2px #3D576F1A;
}
#i4{
    display: flex;
    flex-direction: row;
}
#p9{
width: 91px;
height: 20px;
margin: 0px 45px 0px 8px;
padding-top: 12px;
font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}
#p10{
width: 48px;
height: 16px;
margin: 16px 8px 0px 0px;
color:  #3DAB25;
font-family: DM Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: right;
}
#p11{
width: 49px;
height: 20px;
margin: 4px 4px 8px 8px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}
#i5{
    width: 3px;
    height: 3px;
    margin: 14px 5px 15px 0px;
}
#p12{
width: 57px;
height: 20px;
margin: 4px 0px 8px 0px;
color: #6E6E82;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}
#i6{
    width: 11px;
    height: 11px;
    margin: 6px 4px 15px 35px;
}
#p14{
width: 17px;
height: 16px;
margin: 4px 7px 12px 4px;
font-family: DM Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
text-align: center;
}
.m1{
    display: flex;
    flex-direction: row;
}
.m3{
    visibility: hidden;
    width: 143px;
    visibility: visible;
}
.d11{
    display: flex;
    flex-direction: row;
 
}
.d11 h4{
width: 110px;
height: 28px;
margin: 16px 184px 12px 16px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}
.d11 p{
width: 49px;
height: 20px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
margin: 20px 0px 16px 0px;
}
#i7{
    width: 200px ;
    border-radius: 6px 6px 0px 0px;
    height: 10px;
    background-color: #DDDDDD;
    margin-left: 12px;
    margin-right: 16px;
}
#i8{
    width: 130px ;
    border-radius: 6px 6px 0px 0px;
    height: 10px;
    background-color: #DDDDDD;
    margin-left: 16px;
    margin-right: 0px;
}
.d12{

    border-radius: 0px 0px 20px 0px #25525B;

    display: flex;
    flex-direction: row;
}
.d12 #i9{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 34px;
}
.d12 #i10{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
.d12 #i11{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
} 
.d12 #i12{
    width: 24px;
    height: 24px;
    margin: 20px 34px 0px 0px;
}
#i13{
    width: 134px;
    height: 5px;
    margin:13px 120px 8px 121px;
}
.d12 a{
    margin-bottom: 0px;
}