body{
    background-color:black;
}
.d1{
    background-color:blue;
    width: 375px;
    height: 812px;
    top: -1934px;
    border-radius: 30px;
    margin: auto;
}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
.d2{
display: flex;
flex-direction: row;
width: 343px;
height: 18px;
margin-left: 16px;
justify-content: space-between;
padding-top: 16px;
}
.d2 p{
    width: 35.06px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d2 ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
}
#i1{
    margin: 26px 28px 0px 323px;
    width: 24px;
    height: 24px;
    box-shadow: 0px 0px 20px 0px #25525B1A;
    
}
.d3{
    width: 343px;
height: 458px;
margin: 109px 16px 161px 16px;
background-color: white;
grid-area: overlap;
border-radius: 15px;
}
#i2{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    box-shadow: 0px 0px 20px 0px #9e9e9e;
    margin: 77px 157px 40px 154px;
    grid-area: overlap;
    background-color: white;
}
.p{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-area: overlap;
}
#i3{
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background-color: green;
    margin: 8px;
}
#i4{
    width: 24px;
    height: 24px;
    margin: 12px;
}
#i5{
width: 212px;
height: 28px;
margin: 72px 66px 14px 65px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

}
#i6{
 width: 260px;
 height: 24px;
 margin: 0px 42px 24px 41px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}
#i7{
width: 128px;
height: 28px;
margin: 0px 108px 8px 107px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

}
#i8{
  width: 94px;
  height: 28px;
  margin: 0px 124px 42px 125px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

}
.d4{
    width: 311px;
    height: 72px;
    margin:0px 16px  32px 16px;
    background-color: #f8f8f8;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}
#i9{
    width: 48px;
    height: 48px;
    margin: 12px 14px 12px 12px;
    background-color: yellow;
    border-radius: 15px;
}
#i9 img{
    width: 26.18px;
height: 26.53px;
margin: 10.74px 10.6px 10.74px 11.22px;
}
#p1{
width: 174px;
height: 24px;
margin: 13px 63px 4px 0px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
#p2{
    margin: 0px 126px 11px 0px;
width: 111px;
height: 20px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
#i10{
    width: 311px;
    height: 50px;
    border-radius: 15px;
    margin: 0px 16px 36px 16px;
    background-color: blue;
    color: white;
}