body{
    background-color:black;
}
.d1{
    background-color: white;
    width: 375px;
    height: 796px;
    top: -1934px;
    border-radius: 30px;
    padding-top: 16px;
    margin: auto;
}
.d2{
display: flex;
flex-direction: row;
width: 343px;
height: 18px;
margin-left: 16px;
justify-content: space-between;
}
.d2 p{
    width: 35.06px;
    height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d2 ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
}
.d3{
    width: 375px;
height: 60px;
margin-top: 8px;
margin-bottom: 12px;
display: flex;
flex-direction: row;

}
.d3 h3{
    width: 95px;
height: 28px;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
margin: 16px 140px 16px 0px;

}
.d3 img{
    width: 24px;
height: 24px;
margin: 18px 92px 18px 24px;

}
.d4{
    width: 375px;
height: 272px;

font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

}
#i{
    width: 129px;
    height: 28px;
margin: 0px 222px 0px 24px;
   padding-top: 12px; 
}
.d{
    width: 375px;
    height: 8px;
    background-color: #EEF0F3;
}
.s{
    width: 159.5px;
    height: 60px;
    background-color:#EEF0F3 ;
    border-radius: 15px;
}
#i1{
    width: 42.5px;
height: 28px;
margin: 16px 58.5px 16px 58.5px;
}
#i2{
    width: 42.5px;
height: 28px;
margin: 16px 54.5px 16px 54px;
}
#i3{
    width: 42.5px;
height: 28px;
margin: 16px 51.5px 16px 52px;
}
#i4{
    width: 42.5px;
height: 28px;
margin: 16px 55px 16px 55.5px;
}
#i5{
    width: 42.5px;
height: 28px;
margin: 16px 55px 16px 55.5px;
}
#i6{
    width: 42.5px;
height: 28px;
margin: 16px 49px 16px 49.5px;
}
.d5{
    display: flex;
    flex-direction: row;
}
.d6{
    display: flex;
    flex-direction: row;
    width: 375px;
    height: 76px;
   
}
.d6 h4{
margin: 0px 126px 4px 24px;
padding-top: 12px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
width: 185px;
height: 28px;
}
.d6 p{
margin: 0px 200px 12px 24px;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
width: 111px;
height: 20px;
}
.d6 img{
    width: 16px;
height: 16px;
margin: 30px 24px 30px 0px;
}
.d7{
    width: 375px;
    height: 93px;
   
}
.d7 h4{
 width: 205px;
 height: 28px;
 margin: 0px 146px 0px 24px;
 padding-top: 12px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
#p1{
width: 10px;
height: 24px;
margin: 12px 8px 0px 24px;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
#p2{
    width: 1px;
    height: 27px;
    margin: 9px 332px 0px 0px;
}
.d8{
    width: 327px;
height: 1px;
background-color: #E8E7E7;
margin: 0px 24px 16px 24px;
}

#i7{
    width: 50px;
height: 54px;
border-radius: 10px;
background-color: #FFFFFF;
margin: 48px 0px 0px 32px;
position: absolute;
}
#i7 img{
    width: 23.25px;
height: 23.25px;
margin: 16.37px 13.37px 15.38px 13.37px;
}
#i8{
    width: 327px;
    height: 70px;
    margin: 40px 24px 55px 24px;
    border-radius: 15px;
    background-color: #665AF0;
}
#i90{
    width: 375px;
    height: 70px;
}
a:hover{
    color: red;
}
a:link{
 color: blue;
}
a{
    text-decoration: none;
}
#i11{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 34px;
}
 #i12{
    width: 24px;
    height: 24px;
    margin: 20px 70px 0px 0px;
}
 #i13{
    width: 24px;
    height: 24px;
    margin: 20px 71px 0px 0px;
}
 #i14{
    width: 24px;
    height: 24px;
    margin: 20px 35px 0px 0px;
}
#j{
        width:134px;
        height:5px;
        margin:13px 120px 8px 121px;
}